body {
    background-color: rgb(226, 240, 240);
    margin : 0;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    min-width: 200px;
}
#note_heading{
    color: rgb(28, 110, 177);
    text-align: center;
}

#cont_link{
    /* background-color: red; */
    padding: 5px;
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
} 

#cont_inp{
    padding: 5px;
    height: 30px;
    width: 100%;
    /* background-color: red; */
    border-radius: 5px;
    margin-bottom: 5px;
}
#input-btn{
position: relative;
height: 30px;
border: 1px solid black; 
border-radius: 8px;
text-align: center;
/* margin-bottom: 5px; */
/* padding-left: 0%; */
/* padding-top: 1%; */
/* padding-bottom: 1%; */
/* padding-right: 0%; */
/* margin-left: 1%; */

width: 30%; 
background-color: rgb(226, 240, 240);
/* color: red; */
font-family:'Courier New', Courier, monospace

}


#delete-btn{
    position: relative;
    border: 1px solid black; 
    border-radius: 8px;
    text-align: center;
    /* margin-bottom: 5px; */
    /* padding-left: 0%; */
    /* padding-top: 1%; */
    /* padding-bottom: 1%; */
    padding-right: 0%;
    width: 30%; 
    height:30px;
    background-color: rgb(226, 240, 240);
    color: black;
    font-family:'Courier New', Courier, monospace
    }
#grab-btn{
    position: relative;
    border: 1px solid black; 
    border-radius: 8px;
    text-align: center;
    /* margin-bottom: 5px; */
    /* padding-left: 0%; */
    /* padding-top: 1%; */
    /* padding-bottom: 1%; */
    padding-right: 0%;
    width: 65%; 
    height:30px;
    background-color: rgb(226, 240, 240);
    color: black;
    font-family:'Courier New', Courier, monospace
    }


   #grab-btn:hover{
    background-color: rgb(199, 219, 219);
    /* font-size: 15px; */
    color: white;
  }

  #input-btn:hover{
    background-color: rgb(199, 219, 219);
    /* font-size: 15px; */
    color: white;
  }
  #delete-btn:hover{
    background-color: rgb(199, 219, 219);
    /* font-size: 15px; */
    color: rgb(247, 240, 240);
  }

#input-el{
    background-color: rgb(226, 240, 240);
    color: gray;
    border: 1px solid black; 
    border-radius: 6px;
    height: 30px;
    /* margin-bottom: 5px; */
}
input{
    position: relative;
    width: 65%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 1px solid green;
}


#cont_ul{
    /* position: relative; */
    /* background-color:black ; */
    margin-left: 10px;
    padding: 5px;
    height: auto;
    width: 350px;
    margin-bottom: 5px;
}
ul{
    padding: 5px;
    margin: 5px;;
    position: relative;
    list-style-type:square;
    padding-left:0 ;
    /* width: 300px; */
    /* background-color: red; */
}

li{
    /* position: relative; */
    margin-top:5px ;
    /* width: 300px; */
    
    /* background-color: blanchedalmond; */
}

#cont_ul li a{
    position: relative;
    margin-top:5px ;
    width: 100%;
    color:green;
    /* background-color: aqua; */
    word-wrap: break-word;

}